body {
	background-color: var(--page-bg);
	color: var(--color);
    font-family: var(--font-main);
}

.container {
	max-width: var(--container-width);
	width: 100%;
	margin: 0 auto;
}

h1, h2, h3 {
	font-family: var(--font-accent);
	font-weight: 700;
}

a {
	color: var(--color-dark);

	&:hover {
		text-decoration: underline;
	}
}