:root {
	--max-width: 1440px;
	--container-width: 1200px;

	--font-main: 'DM Sans', serif;
	--font-accent: 'Montserrat', serif;

	--page-bg: #fff;
	--color: #000;
	--color-accent: #244D4D;
	--color-dark: #154444;
	--color-light: #305F64;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

}