.pay {
    padding: 141px 0 100px 0;
    
    h2 {
        font-family: var(--font-main);
        color: var(--color-accent);
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0.5px;
        font-weight: 700;
        text-align: center;
    }

    .blocks {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 99px;
        padding: 40px 0;

        a {
            display: block;
        }
    }

}